  /* Set height of body and the document to 100% to enable "full page tabs" */
  .body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

.jumbotron {
    background-image: url("");
    background-size: 100% 100%;
    text-align: center;
  }



/* Style tab links */
.tablink {
  background-color: #555;
  color: rgb(11, 10, 10);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(19, 18, 18);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: rgba(201, 215, 235, 0.845);}
#Map {background-color: rgb(237, 237, 233);}
#Dashboard {background-color: rgba(239, 210, 210, 0.514);}

#Map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}